bcrypt==4.2.1
dnspython==2.7.0
fastapi==0.115.8
fastapi-cli==0.0.7
python-jose==3.3.0
pydantic==2.10.6
pydantic_core==2.27.2
uvicorn==0.34.0
SQLAlchemy==2.0.38
sqlmodel==0.0.22
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1


